.parallax {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    h1 {
        font-style: 100px;
        z-index: 4;
        align-self: flex;
        
    }

    .topIceBerg {
        background-image: url("/topBerg.png");
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0px;
        z-index: 3;
    }

    .clouds {
        background-image: url("/clouds-transp.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        overflow: visible;
    }

    .stars {
        background-image: url("");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }

}